<!DOCTYPE html>
<html lang ='en'>

  <head>
    <title>Task Manager</title>
    <style>
      #task_manager{background-color: orange;}
    </style>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet'>
  </head>
  <body class='bg-primary'>
    <div class='col-md-12 navbar navbar-inverse navbar-static-top'>
      <a class='navbar-brand'><strong>Welcome to your Task Manager</strong></a>
    </div>

    <div class='container'>
      <div class='row well' id='task_manager'>
        <div class='col-md-6'>
          <ul style="font-weight: bold;">
            <li><a href="/tasks">Task Index</a></li>
            <li><a href="/tasks/new">New Task</a></li>
          </ul>
        </div>
      </div>
    </div>

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src='js/bootstrap.js'></script>
  </body>
</html
