<!DOCTYPE html>
<html lang ='en'>

  <head>
    <title>Task Manager</title>
  </head>

  <body class = 'bg-primary'>
    <div class='col-md-12 navbar navbar-static-top navbar-inverse'>
      <a class='navbar-brand'><strong>Welcome to your Task Manager</strong></a>
    </div>
    <div class='container'>
      <div class='row well' id='container'>
        <div class='col-md-6'>
        <ul style="font-weight: bold;">
        <li><a href="/tasks">Task Index</a></li>
        <li><a href="/tasks/new">New Task</a></li>
        </ul>
        </div>
      </div>
    </div>
  </body>
</html
