<!DOCTYPE html>
<html>
<head>
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet'>
  <title></title>
  <style>
    #container{background-color: orange;}
  </style>
</head>
<body>
  <%= yield %>
</body>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src='js/bootstrap.js'></script>
</html>